<section class="getting-list__section">
    <div class="getting-list container">
        <h1 class="getting-list__title"><span><</span>Here is what you get<span>></span></h1>
        <ul class="getting-list__get-list">
            <li class="get-list">
                <a class="get-list__item" href="#">
                    <img class="get-list__item-icon iconmargin" width="111px" height="64px" src="../img/icons/getting-list-icon-1.png" alt="search logo">
                    <div class="get-list__item-content">
                        <h3 class="get-list__item-title">Created to Make The Web Better</h3>
                        <p class="get-list__item-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
                    </div>
                </a>
            </li>
            <li class="get-list">
                <a class="get-list__item" href="#">
                    <img class="get-list__item-icon iconmargin2" width="90px" height="80px" src="../img/icons/getting-list-icon-2.png" alt="round regulator logo">
                    <div class="get-list__item-content">
                        <h3 class="get-list__item-title">Incredibly Powerful Tool</h3>
                        <p class="get-list__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </div>
                </a>
            </li>
            <li class="get-list">
                <a class="get-list__item" href="#">
                    <img class="get-list__item-icon iconmargin3" width="60px" height="84px" src="../img/icons/getting-list-icon-3.png" alt="glass container logo">
                    <div class="get-list__item-content">
                        <h3 class="get-list__item-title">Experimental Stuff</h3>
                        <p class="get-list__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </div>
                </a>
            </li>
            <li class="get-list">
                <a class="get-list__item" href="#">
                    <img class="get-list__item-icon iconmargin4" width="71px" height="71px" src="../img/icons/getting-list-icon-4.png" alt="dial logo">
                    <div class="get-list__item-content">
                        <h3 class="get-list__item-title">Created to Make The Web Better</h3>
                        <p class="get-list__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </div>
                </a>
            </li>
        </ul>
        <picture class="getting-list__screen-image">
            <source media="(max-width: 480px)" srcset="../img/getting-list-screenshot-mob.png">
            <img src="../img/getting-list-screenshot.png" alt="screenshot image with html code">
        </picture>
    </div>
</section>