<header class="header">
    <div>
        <a href="#" class="header__logo">
            <img src="./img/header/Logo 3.svg" alt="" class="header__logo--img">
            <img src="./img/header/logo-hover 1.svg" alt="" class="header__logo--img--hover">
            <span class="header__logo--name">ForkIO</span>
        </a>
    </div>
    
    <button class="header__btn">Buy Now</button>
    <div class="menu__btn">
        <span class="header__btn--line"></span>
        <span class="header__btn--line"></span>
        <span class="header__btn--line"></span>
    </div>
    <div class="header__menu">
            <ul class="header__menu__list">
                <li class="menu__list--item"><a href="#" class="menu__list--link">Overview</a></li>
                <li class="menu__list--item"><a href="#" class="menu__list--link">About Fork</a></li>
                <li class="menu__list--item"><a href="#" class="menu__list--link">Buying Options</a></li>
                <li class="menu__list--item"><a href="#" class="menu__list--link">Support</a></li>
            </ul>
    </div>
</header>
<section class="main">
    <h1 class="main__title">Fork App</h1>
    <p class="main__text">A Real Gamechanger In The World Of Web-Development</p>
    <p class="main__text--second">v. 2.8 For Mac and Windows</p>
</section>
<section class="main__footer">
    <button class="main__footer--btn">Download For Free Now</button>
    <p class="main__footer--text">Unlimited 30-Days Trial Period</p>
</section>