<section class="price-fork__section">
    <div class="price-fork container">
        <h1 class="price-fork__title">Fork Subscription Pricing</h2>
        <div class="price-fork__content">
            <div class="price-fork__content-item">
                <div class="price-fork__item-header">
                    <h3 class="price-fork__item-title">Students</h4>
                </div>
                <div class="price-fork__item-main">
                    <span class="price-fork__item-price"><span class="lightweight">$</span>29</span>
                    <p class="price-fork__item-period">per month</p>
                    <div class="price-fork__item-line"></div>
                    <p class="price-fork__item-license button-downed">Personal License</p>
                    <button class="price-fork__item-button">purchase</button>
                </div>
            </div>
            <div class="price-fork__content-item">
                <div class="price-fork__item-header">
                    <h4 class="price-fork__item-title">professional</h4>
                </div>
                <div class="price-fork__item-main">
                    <span class="price-fork__item-price"><span class="lightweight">$</span>59</span>
                    <p class="price-fork__item-period">per month</p>
                    <div class="price-fork__item-line"></div>
                    <p class="price-fork__item-license">Professional License<br />Email Support</p>
                    <button class="price-fork__item-button">purchase</button>
                </div>
            </div>
            <div class="price-fork__content-item price-fork__content-item--active">
                <div class="price-fork__item-header price-fork__item-header--active">
                    <h4 class="price-fork__item-title">agency</h4>
                </div>
                <div class="price-fork__item-main price-fork__item-main--active">
                    <span class="price-fork__item-price price-fork__item-price--active"><span
                            class="lightweight">$</span>99</span>
                    <p class="price-fork__item-period price-fork__item-period--active">per month</p>
                    <div class="price-fork__item-line"></div>
                    <p class="price-fork__item-license">1-12 Team Members<br />Phone Support</p>
                    <button class="price-fork__item-button price-fork__item-button--active">purchase</button>
                </div>
            </div>
            <div class="price-fork__content-item">
                <div class="price-fork__item-header">
                    <h4 class="price-fork__item-title">enterprise</h4>
                </div>
                <div class="price-fork__item-main">
                    <span class="price-fork__item-price"><span class="lightweight">$</span>159</span>
                    <p class="price-fork__item-period">per month</p>
                    <div class="price-fork__item-line"></div>
                    <p class="price-fork__item-license">Unlimited Team Members<br />24/ 7 Phone Support</p>
                    <button class="price-fork__item-button">purchase</button>
                </div>
            </div>
        </div>
    </div>
</section>