.editor__section {
    @include flex;
    flex-direction: column;
    padding-bottom: 70px;
    text-align: center;
    background: $editor-bg-color;

    @include mq(481px, min) {
        padding-bottom: 0;
    }

    @include mq(993px, min) {
        padding-bottom: 0;
    }
}

.editor__title {
    padding-top: 74px;
    margin-bottom: 26px;
    @include monts-normal-700;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    color: $title-color--dark;

    @include mq(481px, min) {
        padding-top: 88px;
        @include sections-title-font--tab;
    }

    @include mq(993px, min) {
        padding-top: 60px;
        @include sections-title-font--desc;
    }
}
.editor__subtitle {
    @include editor-subtitle-font--mob;
    color: $subtitle-color--dark;
    margin-bottom: 36px;

    @include mq(481px, min) {
        @include editor-subtitle-font;
        margin-bottom: 24px;
    }

    @include mq(993px, min) {
        margin-bottom: 12px;
    }
}
.editor__interactions {
    @include flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 20px;
    padding-bottom: 90px;
    @include monts-normal-700;

    @include mq(481px, min) {
        flex-wrap: nowrap;
        padding-bottom: 100px;
    }
    @include mq(993px, min) {
        padding-bottom: 70px;
    }

    &-wrap {
        @include flex;
        border: 2px solid #d5d5d5;
        border-radius: 3px;

        &--watch,
        &--star,
        &--fork {
            @include flex;
            width: 100%;
            background: linear-gradient(0deg, rgba(221, 222, 222, 0.8046568969384629) 0%, rgba(238, 238, 239, 0.49933476808692223) 46%, rgba(255, 255, 255, 1) 100%);
            padding-inline: 0.5em;
			padding-block: 0.3em;
            border-right: 2px solid #d5d5d5;

            &-icon {
                fill: #333333;
            } 

            &-text {
                @include monts-normal-700;
                font-size: 15px;
                padding-left: 5px;
            } 

            &-number {
                @include monts-normal-700;
                font-size: 12px;
                padding-inline: 0.5em;
                padding-block: 0.3em;
            }
        } 
    }
}
