.getting-list__section {
    background-color: $base-bg-color;

    @include mq(993px, min) {
        background-color: $getting-list-bg-color--desc;
    }
}
.getting-list {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "getting-list__title"
    "getting-list__get-list"
    "getting-list__screen-image";

    .getting-list__title {
        @include ga-get-title;
    }

    .getting-list__get-list {
        @include ga-get-list;
        justify-self: start;
    }

    .getting-list__screen-image {
        @include ga-get-image;
        justify-self: end;
    }

    @include mq(481px, min) {
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "getting-list__title"
        "getting-list__get-list"
        "getting-list__screen-image";
    
        .getting-list__title {
            @include ga-get-title;
        }
    
        .getting-list__get-list {
            @include ga-get-list;
            justify-self: center;
        }
    
        .getting-list__screen-image {
            @include ga-get-image;
            justify-self: end;
        }
    }

    @include mq(993px, min) {
        justify-items: start;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "getting-list__get-list getting-list__title"
        "getting-list__get-list getting-list__screen-image";
        
        .getting-list__title {
            @include ga-get-title;
        }
    
        .getting-list__get-list {
            @include ga-get-list;
        }
    
        .getting-list__screen-image {
            @include ga-get-image;
        }
    }
}

.getting-list__title {
    padding: 30px 10px 36px;
    @include monts-normal-700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: $getting-list-title-color;

    @include mq(481px, min) {
        padding-top: 60px;
        padding-bottom: 50px;
        @include sections-title-font--tab;
    }

    @include mq(993px, min) {
        margin-top: 30px;
        padding: 30px 10px 10px 18px;
        font-size: 37px;
        line-height: 40px;
        text-align: left;
    } 

    @include mq(1200px, min) {
        @include sections-title-font--desc;
    }
}
.getting-list__get-list {
    @include flex;
    flex-direction: column;
    padding: 36px 15px 58px;
    gap: 35px;

    @include mq(481px, min) {
        padding: 0 20px 75px;   
        gap: 60px;
    }
    @include mq(993px, min) {
        margin-top: 0px;
        padding: 60px 0 70px 20px; 
        gap: 30px;
    }
}
.get-list__item {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;

    @include mq(481px, min) {
        flex-direction: row;
    }

    @include mq(993px, min) {
        gap: 20px;
    }

    &-icon {
        @include flex;
        justify-content: center;
        
        @include mq(481px, min) {
            align-self: start;
        }
    }

    &-content {
        @include mq(480px, max) {
            text-align: center;
            cursor: text;
        }

        @include mq(993px, min){
            width: fit-content;
        }
    }

    &-title {
        margin-bottom: 14px;
        @include getting-list-item-title-font--mob;
        color: $subtitle-color--dark;

        @include mq(481, min) {
            margin-bottom: 16px;
            @include getting-list-item-title-font;
        }
    }

    &-text {
        @include getting-list-text-font--mob;
        color: $text-color--dark;

        @include mq(481px, min) {
            @include getting-list-text-font;

        }
        
    }

}

.getting-list__screen-image {
	img {
		width: 100%;
		min-height: 519px;
	}

}
// **** Милиця (костиль) з іконками - забув у wrapper обгорнути, щоб потім вирівняти

.iconmargin2 {
    @include mq(481px, min) {
        margin-right: 8px;
        margin-left: 10px;
    } 
}
.iconmargin3 {
    @include mq(481px, min) {
        margin-right: 22px;
        margin-left: 25px;
    } 
}
.iconmargin4 {
    @include mq(481px, min) {
        margin-right: 19px;
        margin-left: 15px;
    } 
}