.header {
	padding: 33px 16px;
	background-color: #27262A;
	border: solid 1px #27262A;
	display: grid;
	grid-template-areas:
		"logo button menu";
	position: relative;
}

.header__logo {
	text-decoration: none;
	display: flex;
	align-items: center;
	position: relative;

	&--img--hover {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}

	&:hover &--img--hover {
		display: inline;
	}

	&:hover &--name {
		color: #FFFFFF;
	}
}

.header__logo--name {
	padding-left: 17px;
	@include font-Lato-700;
	font-size: 24px;
	line-height: 16px;
	// 	display: flex;
	// align-items: center;
	text-transform: uppercase;
	color: #8D81AC;
	display: none;

	&:hover {
		color: #FFFFFF;
	}
}


.header__btn {
	justify-self: center;
	width: 119px;
	height: 37px;
	background: #8D81AC;
	border: none;
	border-radius: 40px;
	@include font-Mons-700;
	font-size: 15px;
	line-height: 15px;
	color: #FFFFFF;
	cursor: pointer;

	&:hover {
		background: #FFFFFF;
		color: #8D81AC;
		border: 1px solid #8D81AC;
	}
}

/* Гамбургер иконка */
.menu__btn {
	justify-self: end;
	width: 26px;
	height: 26px;
	position: relative;
	z-index: 2;
}

.header__btn--line {
	width: 26px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	transition: all 0.5s;
}

.header__btn--line:nth-of-type(2) {
	width: 15px;
	left: 73%;
	top: calc(50% - 8px);
}

.header__btn--line:nth-of-type(3) {
	top: calc(50% + 8px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu__btn.active .header__btn--line:nth-of-type(1) {
	display: none;
}

.menu__btn.active .header__btn--line:nth-of-type(2) {
	width: 26px;
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}

.menu__btn.active .header__btn--line:nth-of-type(3) {

	left: 75%;
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.header__menu {
	position: absolute;
	top: 100%;
	right: 14px;
	padding-bottom: 15px;
	background: #333333;
	// transition: opacity 0.5s;
	// opacity: 0;
	display: none;
}

.header__menu.active {
	//opacity: 1;
	display: block;
}

.menu__list--item {
	padding: 29px 0 21px;
	border-bottom: solid 3px #3B3B3B;
	list-style-type: none;
}

.menu__list--link {
	margin: 0 35px 0 50px;
	@include font-Mons-400;
	font-size: 26px;
	line-height: 26px;
	text-decoration: none;
	color: #FFFFFF;

	&:focus,
	:hover {
		color: #8D81AC;
	}
}

.main {
	background-image: url(../img/header/main-bg.png);
	background-position-x: center;
	background-position-y: -135px, center;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		padding-top: 50px;
		@include font-Mons-700;
		font-size: 48px;
		line-height: 48px;
		text-align: center;
		color: #FFFFFF;
	}

	&__text {
		padding: 19px 11px 0;
		@include font-Mons-400;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		color: #8D81AC;
	}

	&__text--second {
		padding: 14px 0 416px;
		@include font-Mons-400;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		text-transform: uppercase;
		color: #848E97;
	}
}

.main__footer {
	position: relative;

	&--btn {
		position: absolute;
		width: 290px;
		height: 45px;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
		background: #8D81AC;
		border-radius: 40px;
		border: none;
		@include font-Mons-700;
		font-size: 18px;
		line-height: 20px;
		color: #FFFFFF;

		&:hover {
			background: #FFFFFF;
			color: #8D81AC;
			border: 2px solid #8D81AC;
		}
	}

	&--text {
		padding: 35px 0 6px;
		@include font-Mons-400;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
		color: #848E97;
	}
}

@media (min-width: 481px) {
	.header {
		padding: 22px 20px 18px;
		grid-template-areas:
			"logo button"
			"menu menu";
		row-gap: 20px;
	}

	.header__logo {
		grid-area: logo;
	}

	.header__logo--name {
		display: block;
	}

	.header__btn {
		width: 145px;
		height: 38px;
		grid-area: button;
		justify-self: end;
	}

	.menu__btn {
		display: none;
	}

	.header__menu {
		position: relative;
		top: 0;
		right: auto;
		padding-bottom: 0;
		grid-area: menu;
		justify-self: center;
		background: none;
		display: block;
	}

	.header__menu__list {
		width: 445px;
		display: flex;
		justify-content: space-between;
	}

	.menu__list--item {
		text-align: center;
		padding: 0;
		border-bottom: none;
	}

	.menu__list--item a {
		margin: 0 auto;
		@include font-Mons-700;
		font-size: 16px;
		line-height: 18px;
		text-decoration: none;
		white-space: nowrap;
		color: #8D81AC;

		&:hover,
		:focus {
			color: #FFFFFF;
			;
		}
	}

	.main__text--second {
		padding-bottom: 470px;
	}

	.main__footer--btn {
		width: 390px;
		height: 62px;
		font-size: 21px;
		line-height: 23px;
	}
}

@media (min-width: 565px) {
	.header__menu__list {
		width: 527px;
	}
}

@media (min-width: 993px) {
	.header {
		padding: 30px 90px;
		grid-auto-columns: 165px 1fr 145px;
		column-gap: 48px;
		grid-template-areas:
			"logo menu button";
		row-gap: 20px;
		background-color: #000;
		border: solid 1px #000;
	}

	.header__menu {
		grid-area: menu;
		justify-self: end;
		align-self: center;
	}

	.header__menu__list {
		width: 480px;
		display: flex;
		justify-content: space-between;
		justify-items: center;
	}
}

@media (min-width: 1100px) {
	.header__menu__list {
		width: 527px;
	}
}