@mixin font-Mons-700 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

@mixin font-Mons-400 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

@mixin font-Lato-700 {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
}

@mixin font-Lato-400 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}
// Font family-style-weight
@mixin monts-normal-700 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}
@mixin monts-normal-400 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}
@mixin lato-normal-400 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
}
// Sections title font 
@mixin sections-title-font--tab {
    @include monts-normal-700;
    font-size: 42px;
    line-height: 44px;
}
@mixin sections-title-font--desc {
    @include monts-normal-700;
    font-size: 46px;
    line-height: 50px;
}

// Sections subtitle fonts 
@mixin editor-subtitle-font--mob {
    @include lato-normal-400;
    font-size: 14px;
    line-height: 20px;
}
@mixin editor-subtitle-font {
    @include lato-normal-400;
    font-size: 21px;
    line-height: 32px;
}
@mixin getting-list-item-title-font--mob {
    @include monts-normal-400;
    font-size: 16px;
    line-height: 16px;
}
@mixin getting-list-item-title-font {
    @include monts-normal-400;
    font-size: 16px;
    line-height: 21px;
}
@mixin price-fork-subtitle-font {
    @include monts-normal-400;
    font-size: 24px;
    line-height: 24px;
    }

// Sections text fonts 
@mixin getting-list-text-font--mob {
    @include lato-normal-400;
    font-size: 14px;
    line-height: 21px;
}

@mixin getting-list-text-font {
    @include monts-normal-400;
    font-size: 14px;
    line-height: 21px;
}

// Section "Price-fork" card fonts
@mixin price-fork-card-category-font {
    @include monts-normal-400;
    font-size: 24px;
    line-height: 24px;
}
@mixin price-fork-card-period-font {
    @include monts-normal-400;
    font-size: 14px;
    line-height: 16px;
}
@mixin price-fork-card-license-font {
    @include monts-normal-400;
    font-size: 16px;
    line-height: 18px;
}
@mixin price-fork-card-purchase-font {
    @include monts-normal-400;
    font-size: 15px;
    line-height: 15px;
}
@mixin price-fork-card-purchase-promo-font {
    @include monts-normal-400;
    font-size: 16px;
    line-height: 18px;
}

// Section "getting-list" gria-area mixins
@mixin ga-get-title {
    grid-area: getting-list__title;    
}

@mixin ga-get-list {
    grid-area: getting-list__get-list;    
}

@mixin ga-get-image {
    grid-area: getting-list__screen-image;    
}

// Common styles mixins
@mixin flex($horizontal: center, $vertical: center) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
  }

// Media querries mixins
@mixin mq($screen, $size) {
	@if ($size == "min") {
		@media (min-width: $screen) {
			@content;
		}
	}
	@if ($size == "max") {
		@media (max-width: $screen) {
			@content;
		}
	}
}