.people {
    background: no-repeat url(../img/people-talking/bg768.png);
    background-position: center;
    background-size: auto 100%;
    padding-bottom: $people-pading-bottom;
}

.people__title {
    padding-top: 57px;
    @include font-Mons-700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.people__list {
    justify-content: center;
    padding: 53px 37px 37px;
    display: grid;
    grid-template-columns: minmax(248px, 336px);
    row-gap: 45px;
    grid-template-areas:
        "smashing"
        "codrops"
        "W"
        "pixel"
        "creative"
        "TNW";
}

.people__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.people__item:nth-of-type(1) {
    grid-area: smashing;
}

.people__item:nth-of-type(2) {
    grid-area: codrops;
}

.people__item:nth-of-type(3) {
    grid-area: W;
}

.people__item:nth-of-type(4) {
    grid-area: pixel;
}

.people__item:nth-of-type(5) {
    grid-area: creative;
}

.people__item:nth-of-type(6) {
    grid-area: TNW;
}

.people__item--img {
    margin-bottom: 30px;
}

.people__item--text {
    @include font-Lato-700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.people__footer--text {
    margin: 0 34px;
    justify-content: center;
    @include font-Lato-400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
    position: relative;
}

.people__footer--text::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -$people-pading-bottom;
    width: 245px;
    height: 2px;
    background: #645766;
}

@media (min-width: 481px) {
    .people {
        background-position: center;
        background-size: 100% 100%;
    }

    .people__title {
        padding-top: 85px;
        font-size: 42px;
        line-height: 44px;
    }

    .people__list {
        padding: 85px 0 67px;
        display: grid;
        grid-template-columns: repeat(2, 230px);
        row-gap: 55px;
        column-gap: 10px;
        grid-template-areas:
            "smashing codrops"
            "W pixel"
            "creative TNW";
    }


    .people__footer--text::before {
        width: 555px;
    }
}

@media (min-width: 550px) {
    .people__list {
        grid-template-columns: repeat(2, 270px);
    }
}

@media (min-width: 640px) {
    .people__list {
        grid-template-columns: repeat(2, 300px);
        column-gap: 30px;

    }
}

@media (min-width: 720px) {
    .people__list {
        grid-template-columns: repeat(2, 336px);
        column-gap: 60px;

    }
}

@media (min-width: 993px) {
    .people {
        background: no-repeat url(../img/people-talking/bg1200.png);
        background-size: 100% 105%;
        padding-bottom: 28px;
    }

    .people__title {
        padding-top: 108px;
        font-size: 48px;
        line-height: 50px;
    }

    .people__list {
        padding: 75px 0 119px;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 336px));
        row-gap: 55px;
        column-gap: 60px;
        grid-template-areas:
            "smashing codrops W"
            "pixel creative TNW";
    }

    .people__footer--text {
        margin: 0 147px;
    }

    .people__footer--text::before {
        width: 790px;
    }

}