
.lightweight {
    font-weight: lighter;
}
.price-fork {
    
    &__section {
        background-image: url("/img/backgrounds/price-fork-bg-1200.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    &__container {
        padding-top: 14px;
        padding-bottom: 10px;
        text-align: center;
    }

    &__title {
        margin-bottom: 27px;
        @include monts-normal-700;
        font-size: 28px;
        text-align: center;
        color: $title-color--light;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__content-item {
        width: 256px;
        margin-bottom: 18px;
        @include monts-normal-400;
        color: #ffffff;

        &--active {
            padding-top: 45px;
            padding-bottom: 45px;
            transform: scaleX(1.08) scaleY(1.2);
        }
    }
    &__item-header {
        padding-top: 36px;
        padding-bottom: 36px;
        background: rgba(256, 256, 256, 0.06);
        &--active {
            background: rgba(0, 0, 0, 0.11);
        }
    }
    &__item-title {
        @include monts-normal-400;
        text-transform: uppercase;
    }
    &__item-main {
        height: 360px;
        padding-top: 30px;
        background: rgba(256, 256, 256, 0.11);
            
        &--active {
            padding-top: 15px;
            background: rgba(70, 48, 72, 0.84);
        }
    }
    &__item-price {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 60px;
        text-transform: uppercase;

        &--active {
            font-size: 82px;
        }
    }
    &__item-period {
        margin-top: 20px;
        margin-bottom: 38px;
        @include price-fork-card-period-font;
        text-transform: uppercase;
    }
    &__item-line {
        width: 60px;
        height: 5px;
        margin: 0 auto 30px;
        background: #8d81ac;
    }
    &__item-license {
        margin-bottom: 37px;
        @include price-fork-card-license-font;
        line-height: 28px;
        
        &.button-downed {
            margin-bottom: 55px;
            }
    }
    &__item-button {
        padding: 15px 35px;
        font-size: 15px;
        border: none;
        border-radius: 24px;
        background: rgba(256, 256, 256, 0.06);
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;

        &--active {
            padding: 14px 48px;
            font-size: 15px;
        }
    }
}

@include mq(481px, min) {
    .price-fork {
        &__title {
            font-size: 42px;
        }
        &__content {
            width: 74%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0 auto;
        }
        &__content-item {
            margin-bottom: 18px;
        }
    }
}

@include mq(730px, min) {
    .price-fork {
        &.container {
            padding-top: 90px;
            padding-bottom: 94px;
        }
        &__content {
            flex-direction: row;
        }
        &__content-item {
            &--active {
                transform-origin: right;
            }
        }
        &__item-license {
            line-height: 18px;
        }
    }
}

@include mq(989px, min) {
    .price-fork {
        &__content-item {
            &--active {
                transform-origin: center;
            }
        }
    }
}

@include mq(993px, min) {
    .price-fork {
        &.container {
            padding-top: 83px;
            padding-bottom: 97px;
        }
        &__title {
            margin-bottom: 52px;
        }
        &__content {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0 auto;
        }
        &__content-item {
            margin-right: 0;
            width: 23%;
            &--active {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        &__item-main {
            height: 360px;
        }
    }
}

@include mq(1200px, min) {
    .price-fork {
        &__title {
            font-size: 48px;
        }
        &__item-title {
            font-size: 24px;
        }
        &__item-price {
            font-size: 60px;
            &--active {
                font-size: 82px;
            }
        }
        &__item-license {
            font-size: 16px;
        }
        &__item-button {
            font-size: 15px;
            padding: 15px 35px;
        }
    }
}
