// Title colors
$title-color--light: #FFFFFF;
$title-color--dark: #635C73;
$getting-list-title-color: #8D81AC;

// Subtitle colors
$subtitle-color--dark: #323232;

// Main text colors
$text-color--dark: #848E97;
$text-color--light: #FFFFFF;

// Section backgrounds colors
$base-bg-color: #FFFFFF;
$editor-bg-color: #FFFFFF;
$getting-list-bg-color--desc: #F4F4F4;

// Fonts
$prime-font: 'Montserrat',
sans-serif;
$second-font: 'Lato',
sans-serif;

$people-pading-bottom: 22px;